* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.group:after{
	content: "";
	display: table;
	clear: both;
}
#logoelh {
	width: 5%;
	height: 60px;
}
body {
  height: 3000px;
	background-color: #26a69a;
}
.gogo1{
  margin-top: 63px;

}

.img-gogo1 {
   position: relative;
   width: 20%; /* for IE 6 */

	 padding-left: 403px;
}
#bookgogo1 {
	width: 150px;
	position: absolute;
	margin-left: 100px;
	margin-top: 150px;
}
#taggogo1 {
	width: 350px;
	position: absolute;
	margin-left: 20px;
	margin-top: -610px;
}
span#pricetagonchatone {
	position: absolute;
	top: 230px;
	margin-left: 85px;
	margin-top: 237px;
	font-weight: 200;
	font-size: 30px;
	letter-spacing: -1px;
	padding: 10px;
	color: white;
}
h4 {
   position: absolute;
   top: 40px;
	 margin-left: 53px;
   width: 100%;
}
h4 span {
   color: white;
	 font-weight: bold;
   font: bold 24px/45px;
   padding: 10px;
}
span#pricetagone {
	position: absolute;
	top: 230px;
	margin-left: 145px;
	width: 100%;
	font-weight: bold;
	font-size: 45px;
	padding: 10px;
	color: #26a69a;
}
#titlegogo1 {
	word-break: break-all;
	margin-top: -940px;
	padding-left: 990px;
	text-align: center;
	font-weight: 500;
	letter-spacing: -2px;
	color: white;
}
