* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}



.group:after{
	content: "";
	display: table;
	clear: both;
}
.brand-logo {
	font-weight: 500;
	margin-left: 30px;
}
#logoelh {
	width: 5%;
	height: 60px;
}
/* body {
  height: 3000px;
	background-color: #26a69a;
}
*/
html, body {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: linear-gradient(270deg, #2b3d4d, #18a2f0, #18f0b8);
	background-size: 600% 600%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
}


    @-webkit-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}

/* body {
	background-color: #26a69a;
	display: flex;
	min-height: 100vh;
	flex-direction: column;

} */



main {
	flex: 1 0 auto;
}
.gogo1{
  margin-top: 63px;

}
.img-gogo1 {
   position: relative;
   width: 20%; /* for IE 6 */

	 padding-left: 403px;
}
#priceset {
	width: 400px;
	padding-left: 100px;
	height: 100%;
}
#bookgogo1 {
	width: 150px;
	position: absolute;
	margin-left: 100px;
	margin-top: 150px;
}
#taggogo1 {
	width: 350px;
	position: absolute;
	margin-left: 20px;
	margin-top: -250px;
}
span#pricetagonchatone {
	position: absolute;
	top: 260px;
	margin-left: 88px;
	margin-top: 223px;
	font-weight: 200;
	font-size: 30px;
	letter-spacing: -1px;
	padding: 10px;
	color: white;
}
h4 {
   position: absolute;
   top: 40px;
	 margin-left: 53px;
   width: 100%;
}
h4 span {
   color: white;
	 font-weight: bold;
   font-size: 30px;
   padding: 10px;
}
span#pricetagone {
	position: absolute;
	top: 160px;
	margin-left: 170px;
	width: 100%;
	font-weight: bold;
	font-size: 31px;
	padding: 10px;
	color: #26a69a;
}

#dividergogo1 {
border-left: 1px solid white;
background: white;
width: 240px;
height: 1px;
position: absolute;
right: -370px;
top: 350px;
}
#dividergogo1_2 {
border-left: 1px solid white;
background: white;
width: 240px;
height: 1px;
position: absolute;
right: -370px;
top: 400px;
}
#dividergogo1_3 {
border-left: 1px solid white;
background: white;
width: 240px;
height: 1px;
position: absolute;
right: -370px;
top: 460px;
}
#durationgogo1 {
	position: absolute;
	margin-top: 270px;
	margin-left: 180px;
	display: inline;
	overflow:hidden;
	white-space: nowrap;
	width: 130px;
	color: white;
	font-weight: 400;
	font-size: 18px;
}
#durationgogo1_2 {
	position: absolute;
	margin-top: 330px;
	margin-left: 165px;
	display: inline;
	overflow:hidden;
	white-space: nowrap;
	width: 170px;
	color: white;
	font-weight: 400;
	font-size: 18px;
}
#durationgogo1_3 {
	position: absolute;
	margin-top: 390px;
	margin-left: 150px;
	display: inline;
	overflow:hidden;
	white-space: nowrap;
	width: 220px;
	color: white;
	font-weight: 400;
	font-size: 18px;
}
#acreditogogo1 {
	position: absolute;
	margin-top: 450px;
	margin-left: 108px;
	display: inline;
	overflow:hidden;
	white-space: nowrap;
	width: 130px;
	color: white;
	font-weight: 400;
	font-size: 14px;
}
#decontadogogo1 {
	position: absolute;
	margin-top: 450px;
	margin-left: 243px;
	display: inline;
	overflow:hidden;
	white-space: normal;
	width: 150px;
	color: white;
	font-weight: 400;
	font-size: 14px;
}
#smallgogo1 {
	position: absolute;
	margin-top: 520px;
	margin-left: 182px;
	display: inline;
	overflow: hidden;
	white-space: normal;
	width: 300px;
	color: white;
	font-size: 12px;
}
#titlegogo1 {
	word-break: keep-all;
	margin-top: -580px;
	padding-left: 850px;
	text-align: center;
	font-weight: 500;
	letter-spacing: -2px;
	color: white;
}
#textgogo1 {
	margin-top: -400px;
	margin-right: 15px;
	padding-left: 860px;
	text-align: justify;
	font-weight: 400;
	font-size: 19px;
	letter-spacing: 1px;
	color: white;
}


.carousel .carousel-item {
width:100% !important;
}

.carousel-slider {
	margin-top: 300px;
    height: 400px !important;

}

#staggered-test {
	margin-top: 300px;
	padding-left: 20px;
	color: white;
	margin-left: -50px;
}
h4 {
	font-weight: 200;

}
#staggered-test li {
	opacity: 0;
	display: inline-block;
	margin-left: 10px;
	padding-right: 300px;
	word-break: keep-all;
	letter-spacing: -1px;
	text-align: center;
}


#iconset {
	margin-top: 200px;
	color: white;
	margin-left: 150px;
}
#iconset li{
	opacity: 0;
}
/* GOGO 2 CSS */
