* {
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

/* body {
  height: 3000px;
	background-color: #26a69a;
}
*/


/* Old body {
	background-color: #26a69a;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
!JUST FOR REFERENCE!
} */


#priceset {
	width: 400px;
	padding-left: 100px;
}
#mainimage {
height: auto;
padding-left: 250px;
}

#bookgogo1 {
	width: 150px;
	position: absolute;
	margin-left: 100px;
	margin-top: 150px;
}
#taggogo1 {
	width: 320px;
	height: 80px;
	position: absolute;
	margin-top: 320px;
	padding-left: 13px;
}
span#pricetagonchatone {
	position: absolute;
	margin-left: 76px;
	margin-top: 343px;
	font-weight: 200;
	font-size: 30px;
	letter-spacing: -1px;
	padding: 10px;
	color: white;
}
h4 {
   position: absolute;
   margin-top: 20px;
	 margin-left: 200px;
}
h4 span {
   color: white;
	 font-weight: bold;
   font-size: 30px;
   padding: 10px;
}
span#pricetagone {
	position: absolute;
	margin-top: 140px;
	margin-left: 177px;
	font-weight: bold;
	font-size: 27px;
	padding: 10px;
	color: #26a69a;
	overflow: hidden;
	width: 150px;
	
}


#durationgogo1 {
	position: absolute;
	margin-top: 270px;
	margin-left: 180px;
	
	overflow:hidden;
	white-space: nowrap;
	width: 130px;
	color: white;
	font-weight: 400;
	font-size: 18px;
}
#durationgogo1_2 {
	position: absolute;
	margin-top: 330px;
	margin-left: 165px;
	overflow:hidden;
	white-space: nowrap;
	width: 170px;
	color: white;
	font-weight: 400;
	font-size: 18px;
}
#durationgogo1_3 {
	position: absolute;
	margin-top: 390px;
	margin-left: 150px;
	overflow:hidden;
	white-space: nowrap;
	width: 220px;
	color: white;
	font-weight: 400;
	font-size: 18px;
}
#acreditogogo1 {
	position: absolute;
	margin-top: 450px;
	margin-left: 108px;
	overflow:hidden;
	white-space: nowrap;
	width: 130px;
	color: white;
	font-weight: 400;
	font-size: 14px;
}
#decontadogogo1 {
	position: absolute;
	margin-top: 450px;
	margin-left: 243px;
	overflow:hidden;
	white-space: normal;
	width: 150px;
	color: white;
	font-weight: 400;
	font-size: 14px;
}
#smallgogo1 {
	position: absolute;
	margin-top: 520px;
	margin-left: 182px;
	overflow: hidden;
	white-space: normal;
	color: white;
	font-size: 12px;
	width: 200px;
}
#titlegogo1 {
	position: relative;
	word-break: keep-all;
	margin-top: -580px;
	padding-left: 100px;
	margin-left: 600px;
	text-align: center;
	font-weight: 500;
	letter-spacing: -2px;
	color: white;
	width: 300px;
}
#textgogo1 {
	text-align: justify;
	word-break: keep-all;
	margin-left: 670px;
	width: 250px;
	font-weight: 400;
	font-size: 19px;
	letter-spacing: 1px;
	color: white;
}

.carousel .carousel-item {
width:100% !important;
}

.carousel-slider {
		margin-top: 100px;
    height: 400px !important;

}

#staggered-test {
	color: white;
}
.promo-caption {
 font-weight: 200;
 font-size: 30px;
 text-align: center;
}
#staggered-test li {
	opacity: 0;
	display: inline-block;
	word-break: keep-all;
	letter-spacing: -1px;
}
.btn {
	width: 50%;
}
h2 {
	text-align: center;
	font-size: 60px;
}
/* GOGO 2 CSS */
