* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.group:after{
	content: "";
	display: table;
	clear: both;
}
.brand-logo {
	font-weight: 500;
	margin-left: 30px;
}
#logoelh {
	width: 5%;
	height: 60px;
}

body {
	background-color: #26a69a;
  display: flex;
	min-height: 100vh;
	flex-direction: column;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
h2 {
  font-weight: 600;
  letter-spacing: -1px;
}
h3 {
  font-weight: 300;
  letter-spacing: -1px;
}

/* sticker one side*/
img {

}
#sticker1 {
position: relative;
}
#sticker2 {
position: relative;
}

#acreditointroductorio1 {
	position: absolute;
	margin-top: -120px;
	margin-left: -150px;
	display: inline;
	overflow:hidden;
	white-space: nowrap;
	width: 130px;
	color: white;
	font-weight: 400;
	font-size: 14px;

}
#decontadointroductorio1 {
	position: absolute;
	margin-top: -120px;
	display: inline;
	overflow:hidden;
	white-space: normal;
	width: 150px;
	color: white;
	font-weight: 400;
	font-size: 14px;
}

#acreditointroductorio2 {
	position: absolute;
	margin-top: -120px;
	margin-left: -150px;
	display: inline;
	overflow:hidden;
	white-space: nowrap;
	width: 130px;
	color: white;
	font-weight: 400;
	font-size: 14px;
}
#decontadointroductorio2 {
	position: absolute;
	margin-top: -120px;
	display: inline;
	overflow:hidden;
	white-space: normal;
	width: 150px;
	color: white;
	font-weight: 400;
	font-size: 14px;
}
/* enter content after prices */
.first {
	padding-top: 80px;
}

.light {
	color: white;
}
h5.header.col.s12.light {
	padding-left: 200px;
}
#parca {
	width: 50px;
	height: 70px;
}
.info-text {
	font-size: 20px;
}
#intrdbook {
	width: 155px;
	height: 170px;
	float: left;
	padding-right: 13px;
}
#basicbook {
	width: 155px;
	height: 170px;
	float: right;
	padding-right: 13px;
}
#intermediatebook {
	width: 155px;
	height: 170px;
	float: left;
	padding-right: 13px;
}
#topnotchbook {
	width: 155px;
	height: 170px;
	float: right;
	padding-right: 13px;
}
#first li {
	opacity: 0;
}
#second li {
	opacity: 0;
}
#third li {
	opacity: 0;
}
#fourth li {
	opacity: 0;
}
