* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.group:after{
	content: "";
	display: table;
	clear: both;
}
.brand-logo {
	font-weight: 500;
	margin-left: 30px;
}
#logoelh {
	width: 5%;
	height: 60px;
}
#checklist{
	float: left;
	padding-top: 120px;
	width: 20%;
}

.card {
	padding-top: 20px;
	margin-top: 100px;
	margin-left: 100px;
	padding-bottom: 10px;
	height: 100%;
	width: 100%;
}
.btn {
	width: 100%;
	margin: 5px;
}
body {
	background-color: #26a69a;
	height: auto;

}
p {
 text-align: justify;
 font-weight: 300;
}

footer {
	padding-top: 200px;
}
